.myOccasionsContainer {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myOccasionsContainer h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.myOccasionsContainer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.myOccasionsContainer li {
    cursor: pointer;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myOccasionsContainer li:not(:last-child) {
    margin-bottom: 10px;
}

.myOccasionsContainer li:hover {
    background-color: #f0f0f0;
}

.myOccasionsContainer h2 {
    margin-top: 20px;
    color: #4a4a4a;
}

.monthHeading {
    font-size:large
}

.add-occasion-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed for spacing */
}

/* Existing CSS... */

.editButton, .deleteButton {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editButton {
    color: #007bff; /* Bootstrap primary blue */
    font-size: 20px;
}

.deleteButton {
    color: white;
    background-color: #dc3545; /* Bootstrap danger red */
    font-size: 20px;
    width: 30px;
    height: 30px;
}

/* Style for hover effects */
.editButton:hover, .deleteButton:hover {
    opacity: 0.8;
}

.occasionButtonContainer {
    margin-left: auto; /* This pushes the container to the right */
    display: flex;
    align-items: center;
}